@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


body {

    background-image: url('https://cdn.pixabay.com/photo/2024/03/24/17/10/background-8653526_1280.jpg');
    background-position: center;
    background-size: cover;

    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {

    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 70px;
    margin-bottom: 10px;
    color: #126251 ;
}


.question {
    margin-bottom: 20px;
    text-align: left;


    display: flex;
    flex-direction: column;
}

.question p {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

label {
    display: inline-block;
    font-size: 14px;
}


input[type="radio"] {
    margin-right: 5px;
}

input[type="radio"]:hover {
    cursor: pointer;
}

#submit-button{
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;

    background:#126251;
    color:#fff;
    border:none;
    border-radius: 8px;
    position:relative;
    height:60px;
    font-size:1.8em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  #submit-button:hover{
    background:#fff;
    color:#126251;
  }
  #submit- button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #126251;
    transition:400ms ease all;
  }
  #submit-button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  #submit-button:hover:before,#submit-button:hover:after{
    width:100%;
    transition:800ms ease all;
  }


#result {
    margin-top: 25px;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#result h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

#result p {
    font-size: 16px;
    color: #555;
}

.hide {
    display: none;
}